$primary-color-dark:   #455a64;
$primary-color:        #607d8b;
$primary-color-light:  #cfd8dc;
$primary-color-text:   #fff;
$accent-color:         #009688;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #b6b6b6;
