@import 'colors';
@import 'typography';

body {
  background-color: $primary-color-light;
}

main {
  padding: 1rem;
}

a {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-color: $accent-color;
  color: inherit;
  text-decoration: none;
}

main > paper-material {
  padding: 1rem;
  background-color: $primary-color-dark;
  color: $primary-color-text;
}
